body {
  color: #f1f1f1;               /* Color general de la lletra */
  background-image: url('background_about.jpg');  /* Color del fons*/
  background-repeat: no-repeat;
  background-size: cover;
  text-align: left;
  //filter: blur(8px);
  //-webkit-filter: blur(8px);
}


li {
    float: left;
    height: 5%;
}

a {
    display: block;
    padding: 0;
}

#menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(51,51,51, 0.75);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 5vh;
    z-index:1000;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 1vh 1vw;
    margin-top -0.5 vh;
    text-decoration: none;
    font-size: 3vh;
}

li a:hover {
    background-color: #111; 
}

/*
#filtres {
    float: left;
    left: -7vw;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 100vh;
    width: 20vw;
    background-color: rgb(51,51,51, 0.75);
    text-align: center;
}*/

.boto {
   display: block;
   width: 20vw;
}

#afegir{
    background-color: rgb(51,51,51, 0.75);
    background-size: 2.7vw;
    text-align: center;
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: hidden;
    position: relative;
    display: inline-block;
    left: 0;
    margin-top: 15vh;
    color: #f1f1f1;
    font-size: 2.5vh;
    width: 24vw;
    margin-left: 38vw;
    border-style: solid;
    border-width: 0.5vw;
    border-color: rgb(51,51,51, 0.75);
    border-radius: 1vw;
}



.data {
   display: block;
   width: 20vw;
   margin-left: 1.5vw;
   font-size: 2.5vh;

}


#edat {
    width: 5vw;
    margin-left: 9vw;
}

#btn1 {
    font-size: 1.5vw;
}

#about {
    text-align: center;
    width: 100%;
    margin: 0;
    padding: 0;
    left: 0px;
    margin-top: 30vh;
    text-align: center;
}
                        
h2 {
    color: #f1f1f1;
    font-size: 3.5vh;
    background-color: rgb(51,51,51, 0.75);
    border-style: solid;
    border-width: 0.5vw;
    border-color: rgb(51,51,51, 0);
    border-radius: 1vw;
    width: 26vw;
    margin-left: 37vw;
}

p {
    margin-left: 25vw;
    background-color: rgb(51,51,51, 0.75);
    border-style: solid;
    border-width: 0.5vw;
    border-color: rgb(51,51,51, 0);
    border-radius: 1vw;
    left: 50vw;
    width: 50vw;
    height: auto;
    font-size: 3vh;
}

#main {
    text-align: center;
    padding: 0;
    left: 0px;
    margin-top: 5vh;
    //background-color: yellow;
}



#mapa {
    z-index:1;
    margin-top: 1vh;
    display: inline-block;
    position: relative;
    height: 100vh;
    width: 97.7vw;
    margin-left: 0;
}

#referencies {
    width: 78vw;
    height: 3vw;
    //margin-left: -10vw;
    text-align: left;
    color: rgb(51,51,51, 0.75);
    display: inline-block;
    //background-color: blue;
    text-align: center;
     list-style-type:none;
}

#ref {
    text-align: center;
    padding: 0;
    left: 0px;
    margin-top: 17vh;
}

#ul_ref {
    list-style-type: none;
    margin: 0;
    overflow: hidden; 
    background-color: rgb(51,51,51, 0.75);
    width: 18vw;
    height: auto;
    z-index:1000;
    text-align: center;
    margin-left: 40vw;
    border-style: solid;
    border-width: 0.5vw;
    border-color: rgb(51,51,51, 0);
    border-radius: 1vw;
    list-style-type: circle;
}

#li_ref a {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 3vh;
    text-align: center;
    border-style: solid;
    border-width: 0.5vw;
    border-color: rgb(51,51,51, 0);
    border-radius: 1vw;;
}

#li_ref a:hover {
    background-color: #222;
}
                                
#referencies  a {
    height: 3vw;
    width: 5vw;
    display: inline-block;
    margin-left: 10vw;;

}


#referencies img { 
    width: auto; 
    height: 5vh; 
    object-fit: contain; 
    background-color: rgb(230,230,230, 0.5);
    border-style: solid;
    border-width: 0.5vw;
    border-color: rgb(230,230,230, 0);
    border-radius: 1vw;
} 

#afegir #title {
    color: white;
    font-size: 3.5vh;
    background-color: rgb(0,0,0,0);
    margin-left: -1.25vw;
}

#about {
    text-align: center;
    padding: 0;
    left: 0px;
    margin-top: 17vh;
}

#about ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    background-color: rgb(51,51,51, 0.75);
    width: 18vw;
    height: auto;
    z-index:1000;
    text-align: center;
    margin-left: 40vw;
    border-style: solid;
    border-width: 0.5vw;
    border-color: rgb(51,51,51, 0);
    border-radius: 1vw;
    list-style-type: circle;
}

#about li a {
    display: block;
    color: white;
    text-decoration: none;
    font-size: 3vh;
    text-align: center;
    border-style: solid;
    border-width: 0.5vw;
    border-color: rgb(51,51,51, 0);
    border-radius: 1vw;;
}

#about li a:hover {
    background-color: #222;
}

